<footer>
    <p>Мы в социальных сетях</p>

    <div>
      <a href="#"><i class="fa fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-google-plus-square"></i></a>
      <a href="#"><i class="fa fa-twitter-square"></i></a>
    </div>

    <p>&copy; Транспортно-диспетчерская служба, <%= Time.now.year %></p>

    <div class="clearfix"></div>
</footer>